.results {
    list-style: none;
    overflow: hidden;
    margin: 9px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.result {
    background: #0070f3;
    color: #eee;
    margin: 0 0 9px;
    padding: 18px;
}

.result a {
    color: #eee;
}